.imgPcTab {
    position: absolute;
    top:10px;
    left:20px;
    width: 160px;
}

.navAdmin {
    font-size: 2em;
    color:white !important;
    cursor: pointer;
}

.headerPcTab {
    width: 100%;
    height: 120px;
    background-color: rgb(16, 11, 46) /*rgb(23, 13, 78)*/;
}

.deconnexion {
    position: absolute;
    top:30px;
    right: 30px;
    font-size: 3em;
    color:rgb(250, 37, 0) !important;
    cursor: pointer;
}

.copro {
    position: absolute;
    top:30px;
    left: 25%;
}
.copro:hover {
    color: #EA9E0A !important;
}

.user {
    position: absolute;
    top:30px;
    left:60%;
}

.user:hover {
    color: #EA9E0A !important;
}

.titre {
    margin-top: 60px;
    text-align: center;
}