
    .tailleImg {
        width: 100%;
    }
    
    .tailleImg:hover {
        width: 110%;
    }

@media (min-width:960px) {
    .tailleImg {
        width: 40%;
    }
    
    .tailleImg:hover {
        width: 50%;
    }
}

.centrer {
    text-align: center;
}

h1 {
    font-size: 4em;
}
h2 {
    font-size: 3em;

}

.margeTop {
    margin-top:40px;
}